# Proxy server snippets contain a few proxy informations.
# Snippets of configuration will be saved in the "Profiles" subdirectory of "Quantumult X".
# You can link the snippets to the main configuration profile.
# You can check the sample snippets at https://raw.githubusercontent.com/crossutility/Quantumult-X/master/server-complete.snippet
 
 
 
;shadowsocks=example.com:80, method=chacha20, password=pwd, obfs=http, obfs-host=bing.com, obfs-uri=/resource/file, fast-open=false, udp-relay=false, server_check_url=http://www.apple.com/generate_204, tag=ss-01
shadowsocks=173.244.56.6:443, method=aes-128-gcm, password=shadowsocks, fast-open=false, udp-relay=false, tag=🇺🇸US-173.244.56.6-0246
